/* override materialize container width */
.container {
  margin: 0 auto;
  /* width: 100%; */
}

table {
  border-collapse: collapse;
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
}

th, td {
  padding: 15px;
}

th {
  position: sticky;
  top: 0;
  background-color: rgb(255, 99, 71);
  border: 10px;
  table-layout: fixed;
  width: 1000px; /* To make the table headers all constant width */
}

table th:first-child {
  /* top-left | top-right | bottom-right | bottom-left */
  border-radius: 0px 0 0 10px;
}

table th:last-child {
  /* top-left | top-right | bottom-right | bottom-left */
  border-radius: 0 0px 10px 0;
}

td {
   border: solid 1px rgb(255, 99, 71, 35%);
}

tr {
  background-color: rgb(255, 99, 71, 35%);
}
