/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

/* @import '~@fortawesome/fontawesome-free/css/all.css'; */

@import url('https://fonts.googleapis.com/css?family=Cambay&display=swap');

body {
    overflow: hidden;
    font-family: 'Cambay';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* Create the scroll-bar design */
/* The scroll bar's overall width */
*::-webkit-scrollbar {
    width: 6px;
}

/* The actual scroll handle (the one users can move by clicking and dragging) */
*::-webkit-scrollbar-thumb {
    border: 5px solid rgba(0, 0, 0, 0);
    border-radius: 100px;
    background-clip: padding-box;
}

.h-full {
    height: 100%;
}

.overflow-auto {
    overflow: auto;
}
