/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

/* @import '~@fortawesome/fontawesome-free/css/all.css'; */

@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Cambay&display=swap');

body {
    /* background-color: rgb(33, 33, 34); */
    background-color: rgb(234, 219, 203);
    /* background-image: linear-gradient(
        45deg,
         rgb(37, 37, 37)
    ); */
    overflow: hidden;
    font-family: 'Cambay';
}

.panel-border {
    border-color: #8dadd6;
}

/* Create the scroll-bar design */
/* The scroll bar's overall width */
::-webkit-scrollbar {
    width: 15px;
}

/* The actual scroll handle (the one users can move by clicking and dragging) */
::-webkit-scrollbar-thumb {
    border: 5px solid rgba(0, 0, 0, 0);
    border-radius: 100px;
    background-color: #9e9e9e;
    background-clip: padding-box;
}
