#content-panel-resizable-top {
    --content-panel-resizable-height-top: 300px;
    height: var(--content-panel-resizable-height-top);
    min-height: var(--content-panel-min-height);
    max-height: var(--content-panel-max-height);
    background-color: rgb(12, 141, 70);
    float: top;
    width: auto;
}

#player-panel-resizable-bottom {
    --player-panel-resizable-height-bottom: calc(100vh - 300px);
    background-color: rgb(255, 0, 13);
    height: var(--player-panel-resizable-height-bottom);
    width: auto;
    /* float: top; */
}

content-panel-handle {
    float: bottom;
    height: 1px;
    width: 100%;
    background-color: transparent;
    z-index: 1;
}

#content-panel-handle::after {
    content: '';
    width: 100%;
    height: 5px;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: -4px;
    background-color: transparent;
    cursor: ns-resize;
    z-index: 2;
}

.box {
    width: inherit;
    height: inherit;
}
