body {
    background-color: rgb(33, 33, 34);
}

.panel-border {
    border-color: rgb(0, 170, 235);
}

/* The actual scroll handle (the one users can move by clicking and dragging) */
::-webkit-scrollbar-thumb {
    background-color: rgb(232, 144, 64);
}
