body {
    background-color: rgb(249, 244, 228);
}

.panel-border {
    border-color: rgb(52, 122, 173);
}

/* The actual scroll handle (the one users can move by clicking and dragging) */
::-webkit-scrollbar-thumb {
    background-color: rgb(168, 147, 112);
}
