body {
    background-color: rgb(249, 244, 228);
}

.panel-border {
    border-color: rgb(52, 122, 173);
}

/* The actual scroll handle (the one users can move by clicking and dragging) */
::-webkit-scrollbar-thumb {
    background-color: rgb(168, 147, 112);
}

/* Website to generate these colors:
    https://coolors.co/f9f4e4-347aad-ae8ca3-ff3a20-502274
*/
