#resizable-left {
    --resizable-width-left: 300px;
    height: 100vh;
    width: var(--resizable-width-left);
    min-width: var(--min-width);
    max-width: var(--max-width);
    background-color: grey;
    float: left;
}

#resizable-right {
    height: 100vh;
    background-color: aqua;
}

#horz-handle {
    float: right;
    height: 100%;
    width: 1px;
    background-color: transparent;
    z-index: 1;
}

#horz-handle::after {
    content: '';
    width: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -4px;
    background-color: transparent;
    cursor: ew-resize;
    z-index: 2;
}

body {
    margin: 0px;
}

* {
    box-sizing: border-box;
}
