.full_height {
    min-height: 100vh;
}

#nav_container {
    background-color: rgb(72, 226, 0);
}

#main_container {
    background-color: tomato;
    min-height: 80vh;
}

#player_container {
    background-color: deepskyblue;
    min-height: 20vh;
}